@page "/"

@namespace BlazorDashboardApp.Client

<CultureSelector />
<div style="border: 1px solid #ccc; margin: 2px">
    <DxDashboard style="width: 100%; height: 620px;"
                 Endpoint="api/dashboard" />
</div>